body {
    background-color: #eae1c9;
    margin: 0px;
}
header {
    height: 16em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    place-items: center;
}
.Title {
    font-size: 8em;
    font-family: 'Abril Fatface', "PT Sans", Calibri, Tahoma, sans-serif;
    color: #52350d;
    grid-column: 2 / 3;
    grid-row: 1/ 2;
    align-self: stretch;
}
hr {
    height: 10px;
    width: 90%;
    background-color: #52350d;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: start;
}
div.Options {
    justify-self: stretch;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    font-family: 'Abril Fatface', "PT Sans", Calibri, Tahoma, sans-serif;
    justify-content: space-around;
    align-items: space-around;
    font-size: 2em;
}
a {
    color: #52350d;
    text-decoration: none;
    text-shadow: 	#878787 -.1em .1em .1em;
}
a.Skills {
    text-shadow: none;
}
hr.second{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    align-self: end;
}
